body{
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
	color: #404040;
	font-family: sans-serif;
	font-size: 13px;
}

#div-title{
	background-color: #e5ecf9;
	border-bottom: dotted 1px #c0c0c0;
	padding: 5px;
	font-size: 18px;
	font-weight: bold;
	color: #777777;
}

#div-canvas{
	float: left;
	margin-left: 8px;
	margin-top: 8px;
	padding: 0px;
}

#div-options{
	float: left;
	margin-left: 8px;
	margin-top: 8px;
	padding: 0px;
}

div.options-title{
	padding: 0px;
	border: dotted 1px #c0c0c0;
	background-color: #e5ecf9;
	font-size: 14px;
	font-weight: bold;
	color: #777777;
}

div.options-panel{
	margin-top: 2px;
	margin-bottom: 8px;
	background-color: #f0f0f0;
	border: dotted 1px #c0c0c0;
}

table{
	width: 100%;
}

span.infotext{
	font-size: 10px;
	color: #808080;
}

input[type="text"].number-input{
	background-color: #ffffff;
	border: dotted 1px #c0c0c0;
	width: 3em;
	font-family: monospace;
}

input[type="text"].function-input{
	background-color: #ffffff;
	border: dotted 1px #c0c0c0;
	width: 100%;
	font-family: monospace;
}

textarea.obj-input{
	background-color: #ffffff;
	border: dotted 1px #c0c0c0;
	width: 100%;
	height: 10em;
	font-family: monospace;
}

select{
	background-color: #ffffff;
	border: dotted 1px #c0c0c0;
	width: 100%;
}

input[type="submit"]{
	margin: 0px;
	background-color: #ffffff;
	border: dotted 1px #c0c0c0;
}
